$green: #9bca3c;
$blue: #0757a0;

.root {
  padding-top: 50px;
}

.signup{
  background-color: #27ae60;
  width:100%;
  height:100%;

  .main{
      text-align:center;

    button{
      width:80%;
      margin:5%;
    }
    .input{
      margin:5%;
      width:80%;
     }
   }
 }

 .Parks {
    display: inline-block;

    .address {
      font-weight: bold;
      padding-top: 5%;
    }
  }
h3 {
      color: $blue;
}

* {
  margin:0;
  padding:0;
}
a {
  color: white;
}
.navbar-custom {
    background-color: $blue;
}
a:focus, a:hover {
    color: $blue ;
    text-decoration: underline;
}

hr {
  background-color: $green;
  border: none;
  height: 2px;
}

.settings{
  margin: 5% 5% 0 5%;

  .setting-property{
    font-weight: bold;
    margin-top: 5%;
  }
  .age-first-column{
    width: 80px;
    float: left;
  }
  .radio-yes{
    width: 80px;
  }
  .gender-woman{
    width: 80px;
  }
}
